.orderPanel {
  border-top: 1px solid #dddddd;
  padding: 30px 40px;
}

@media screen and (max-width: 768px) {
  .orderPanel {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #dddddd;
  }
}

.price {
  text-align: left;
  color: #393939;
  font-weight: 500;
  line-height: 10px;
}

.offer {
  color: #980000;
  letter-spacing: 0px;
  line-height: 15px;
  text-transform: none;
}

.service {
  color: #274d35;
  letter-spacing: 0px;
  line-height: 20px;
  text-transform: none;
}