.heading {
  text-align: left;
}

.item {
  border-bottom: 1px solid #dddddd;
  padding: 15px 0px;
}

.specification {
  @extend .item;
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
  color: #393939;
}
