.productCarousel {
  display: inherit;
  text-align: center;
  padding: 1rem;
}

.navigation {
  font-size: 50px;
  text-align: center;
  
  span {
    letter-spacing: 5.07px;
    cursor: pointer;
  }
}
