.content {
  display: grid;
  grid-template-columns: 0.7fr 0.3fr;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column;
  }
}

.description {
  padding: 0px 35px;
  border-right: 1px solid #dddddd;
}

.leftbox {
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
