.content {
  display: grid;
  height: 100%;
  background-color: #dddddd;
}

@media screen and (min-width: 768px) {
  .content {
    grid-template-columns: repeat(4, 1fr);
  }
}

.link {
  color: inherit;
  text-decoration: none;
  display: block;
  background: white;
}

.content {
  background-color: #fff;
}

.item {
  border: 1px solid #dddddd;
}