.heading {
  text-align: left;
}

.item {
  border-bottom: 1px solid #dddddd;
  padding: 15px 0px;
}

.section {
  @extend .item;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #393939;

    font-size: 21px;
  line-height: 20px;
}
